{% extends "layout.html" %}
{% block title %}Admin Register{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navbar-right">
      <a class="nav-item nav-link active" href="{{ url_for('main.register') }}">Register</a>
      <a class="nav-item nav-link active" href="{{ url_for('main.adminlogin') }}">Login</a>
    </div>
  </div>
</nav>
{% endblock %}
{% block main %}
<div class="container-fluid box">

<div class="form login-width">


<div class="login-header">
  <h3>Register</h3>
</div>


  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.school.label }}
        {% if form.school.errors %}
            {{ form.school (class="form-control") }}
            <div>
                {% for error in form.school.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.school (class="form-control")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.username.label }}
        {% if form.username.errors %}
            {{ form.username (class="form-control") }}
            <div>
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.username (class="form-control")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.email.label }}
        {% if form.email.errors %}
            {{ form.email (class="form-control") }}
            <div>
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email (class="form-control")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {% if form.password.errors %}
            {{ form.password (class="form-control") }}
            <div>
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password (class="form-control")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.pw_confirmation.label }}
        {% if form.pw_confirmation.errors %}
            {{ form.pw_confirmation (class="form-control") }}
            <div>
                {% for error in form.pw_confirmation.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.pw_confirmation (class="form-control")}}
        {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-success") }}
    </div>



  </form>
  <p>Already have an account? Go to <a href="{{ url_for('main.adminlogin') }}">Login</a></p>
  </div>
  </div>
{% endblock %}
