{% extends "layout.html" %}
{% block title %}Reset Password{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css">
{% endblock %}
{% block nav %}
  {% if type == "admin" %}
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-right">
        <a class="nav-item nav-link active" href="{{ url_for('main.register') }}">Register</a>
        <a class="nav-item nav-link active" href="{{ url_for('main.adminlogin') }}">Login</a>
      </div>
    </div>
  </nav>
  {% else %}
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-right">
        <a class="nav-item nav-link active" href="{{ url_for('student.apply') }}">Apply</a>
        <a class="nav-item nav-link active" href="{{ url_for('student.studentlogin') }}">Login</a>
      </div>
    </div>
  </nav>
  {% endif %}
{% endblock %}
{% block main %}
<div class="container-fluid box">

<div class="form login-width">

  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.password.label }}
        {% if form.password.errors %}
            {{ form.password (class="form-control") }}
            <div>
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password (class="form-control")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.pw_confirmation.label }}
        {% if form.pw_confirmation.errors %}
            {{ form.pw_confirmation (class="form-control") }}
            <div>
                {% for error in form.pw_confirmation.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.pw_confirmation (class="form-control")}}
        {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-dark") }}
    </div>
</div>

</div>


  </form>





{% endblock %}
